table {
  margin-top: 100px;
  margin-left: 200px;
  border-collapse: collapse;
  font-family: sans-serif;
  width: 50%;
}

table td, table th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table caption {
  text-align: left;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.responsive-table {
  max-width: 100;
  overflow-x: auto;
}