* {
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-linkdin {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

/* lista aqui 

.conteiner-lista {
  margin-top: 50px;
  margin-left: 0px;
  padding-left: 550px;
  padding-right: 200px;
}

.lista-tarefas {
  margin-top: 0px;
}

.lista-tarefas {
  padding: 15px;
  margin-top: 5px;
  list-style: none;
  border: solid 1px gray;
  width: 600px;
}

.lista-tarefas li {
  display: inline;
  padding: 10px;
  margin: 10px;
}
*/